asistente de respuestas automaticas 1
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ccb737b4-03ea-41fe-8505-17a68df951e7",
      "name": "Microsoft Outlook Trigger",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "JeS77VvvwJZ21JzW",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38c76478-8eb0-4693-9094-cdf200c2894b",
              "name": "Asunto:",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "0f14b342-8719-48df-9bee-ad2434b3e2e7",
              "name": "Mensaje:",
              "value": "={{ $json.bodyPreview }}",
              "type": "string"
            },
            {
              "id": "8b5be4a3-4cc7-49ef-ad8c-e266e797f2b3",
              "name": "destinatario:",
              "value": "={{ $json.from }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "79edaec3-40f7-4eab-a1b2-d66211df28a5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Edit Fields').item.json['destinatario:'] }}",
        "subject": "={{ $('Edit Fields').item.json['Asunto:'] }}",
        "bodyContent": "={{ $json.output[0].content[0].text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        768,
        0
      ],
      "id": "f6cad141-473a-4119-9c4f-9d80c1104cc1",
      "name": "Send a message",
      "webhookId": "521ae61e-77a8-4f08-833a-c31e4cec72dd",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "JeS77VvvwJZ21JzW",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "GPT-4.1-NANO"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Eres un asistente virtual de flexData. tu meta es responder amablemente las preguntas frecuentes de clientes que aparecen a continuacion en **Preguntas frecuentes**. si la pregunta no está en **Preguntas Frecuentes** responde diciendo que el equipo de soporte entrará en contacto con ellos a la brevedad-\n\n##Preguntas frecuentes:\n\n1. nuestro horario de atencion es de lunes a viernes, de 8:00 a 18:00.\n2. Para solicitar una factura duplicada, accede a https://flexdata.com.br/fatura.\n3. Para cancelar tu suscripcion, envia una solicitud a cancelamento@flexdata.com.br.\n4. Nuestro numero de telefono es (11) 4000-1234."
            },
            {
              "content": "=Mensaje del cliente: {{ $json['Mensaje:'] }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "e939b95d-3656-44fd-a351-0512687f6e44",
      "name": "Asistente virtual para responder preguntas automaticas",
      "credentials": {}
    }
  ],
  "connections": {
    "Microsoft Outlook Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Asistente virtual para responder preguntas automaticas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asistente virtual para responder preguntas automaticas": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "97f2e5f6176f6ab075af3eb928b532f237bd2d166bece4f517028d8f9e45ef8e"
  }
}
