conexion_herramientas_google
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1zebFuT78nHTJPdMzSXHyag4cpqiSXQ4L",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1zebFuT78nHTJPdMzSXHyag4cpqiSXQ4L"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d9d2aa80-0ebe-4970-b1a1-5528a33c3262",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "O3vdy9S3YPtMrTjg",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "para desactivar la API hay que ir a console.cloud.google.com.\n\ndespues entras con cuenta de gmail y inhabilitas  la API de",
        "height": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -384,
        -64
      ],
      "typeVersion": 1,
      "id": "844890b4-f4c5-48bb-b436-ba9155eb306b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "09d3f9c1-d366-44cb-9dc7-95bfa56ff4af",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "O3vdy9S3YPtMrTjg",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        432,
        -176
      ],
      "id": "4cf94037-ed50-4666-b119-1a85704507f8",
      "name": "Transcribe a recording",
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-lite-001",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-lite-001"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        432,
        0
      ],
      "id": "2f9bd02e-32ff-47f5-9470-bb5f60c51219",
      "name": "Transcribe a recording1",
      "credentials": {
        "googlePalmApi": {
          "id": "Uq3jROPWYVNDkt0E",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-image (Nano Banana)"
        },
        "prompt": "=Te enviaré una transcripcion completa de un mp3, quiero que entiendas la intencion de este audio y generes una imagen de lo que represente\n\ntranscripcion:  {{ $json.content.parts[0].text }}",
        "options": {
          "binaryPropertyOutput": "data"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        688,
        0
      ],
      "id": "70d7f57e-d6fb-4d2a-a68c-f83c1d850921",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "Uq3jROPWYVNDkt0E",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## en el modelo gratis de gemini no se encuentra disponible la generacion de imagenes, solo en el metodo de paga se podrá ejecutar",
        "height": 224,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        624,
        160
      ],
      "typeVersion": 1,
      "id": "0d4f7fcb-7eff-44a1-8ca6-5bd25a5cfe5d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-image-1-mini"
        },
        "prompt": "Te enviaré una transcripcion completa de un mp3, quiero que entiendas la intencion de este audio y generes una imagen de lo que represente\n\ntranscripcion:",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        640,
        -176
      ],
      "id": "05f86996-803b-4988-9e58-b57eb9dae1e9",
      "name": "Generate an image1",
      "credentials": {}
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Transcribe a recording1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Generate an image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording1": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "97f2e5f6176f6ab075af3eb928b532f237bd2d166bece4f517028d8f9e45ef8e"
  }
}
