INM_AGENT_CLASE3_FLUJO1
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Eres el HR Buddy, asistente virtual de RR. HH. de ChocolaTech.\n\nREGLAS:\n1. Responde siempre en español.\n2. Responde SOLO dudas relacionadas con RR. HH.\n\nIDENTIFICACIÓN DEL EMPLEADO:\n- Si el usuario no dice quién es, pregúntale su nombre completo en la primera respuesta.\n- Usa la herramienta MySQL para buscar en la tabla funcionarios usando SIEMPRE el NOMBRE COMPLETO informado por el usuario en la conversación.\n- Si se encuentra: usa los saldos de vacaciones y banco de horas.\n- Si no se encuentra: no inventes datos personales. Responde solo con base en las políticas generales de RR. HH. del Vector Store.\n\nUsa la base de conocimientos para dudas generales."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "af67aae5-638e-4c85-ae52-2a5d8326d7e5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "c7848783-0384-4263-809c-1b629b94f252",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "WaJrcsV7XNokH7W2",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        224,
        208
      ],
      "id": "ccf7de3b-f9ec-46b3-80bd-c88d73584ead",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "busca informacion sobre RR.HH., asuntos con vacaciones, horarios, etc.",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        352,
        208
      ],
      "id": "841816b7-9b16-4f31-aac7-1eff8ba3a940",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        432,
        352
      ],
      "id": "f75188e3-1607-4f97-9b18-ff54c8f3c5e4",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "WaJrcsV7XNokH7W2",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        672,
        224
      ],
      "id": "3ec2a7ed-dbda-43b1-9ca3-e7eb32a2cf67",
      "name": "Select rows from a table in MySQL"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.4,
      "position": [
        -16,
        0
      ],
      "id": "02fb2357-6eae-415b-831e-56e85307ac4c",
      "name": "Telegram Trigger",
      "webhookId": "cae1a11c-4ade-499f-9858-23ba966d51ae",
      "credentials": {
        "telegramApi": {
          "id": "I81yv5g8p8SX1FCu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        576,
        0
      ],
      "id": "0cf814d6-363c-4b87-8e7c-f821eb897562",
      "name": "Send a text message",
      "webhookId": "a26958ee-dfb5-45a1-8c7b-5479b59e2d71",
      "credentials": {
        "telegramApi": {
          "id": "I81yv5g8p8SX1FCu",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table in MySQL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "97f2e5f6176f6ab075af3eb928b532f237bd2d166bece4f517028d8f9e45ef8e"
  }
}
